// ----- Base
@import 'base/_normalize.scss';
@import 'base/_fonts.scss';
@import 'base/_colors.scss';
@import 'base/_layouts.scss';
@import 'base/_utility.scss';
@import 'base/_mesure.scss';
// ----- Grid - media query 
@import 'grid/_breakpoints';
@import 'grid/_grids-layouts.scss';
// ----- Atome
@import 'atome/_buttons.scss';
// ----- (pas de dossier)

@import '_nav-site.scss';
// ----- Pages
@import 'page/_home.scss';
@import 'page/_print-home.scss';
@import 'page/_print-file.scss';
@import 'page/_projet-home.scss';
@import 'page/_projet-file.scss';
@import 'page/_shop.scss';
// ------ Components
@import 'components/_projet.scss';
@import 'components/_shop-card.scss';
// ----- Animation
@import 'animation/_transition.scss';
@import 'animation/_keyframe.scss';


// --------------------------------
// --------------------------------
@import 'developement/_page.scss';
@import 'developement/_accueil.scss';
@import 'developement/_ui.scss';
@import 'developement/_ui-tab.scss';
// --------------------------------
// --------------------------------

* {
    box-sizing: border-box;
}

#app {
    font-family: $font-mulish-medium;
}

  
#nav {
    a {
        // font-weight: bold;
        // color: #2c3e50;
        color: $black-light;
        text-decoration: none;

        &.router-link {
            text-decoration: none;
        }
    
        &.router-link-exact-active {
            // color: #42b983;
            text-decoration: none;
        }
    }
}

a {
    // font-weight: bold;
    // color: #2c3e50;
    color: $black-light;
    text-decoration: none;

    &.router-link {
        text-decoration: none;
    }

    &.router-link-exact-active {
        // color: #42b983;
        text-decoration: none;
    }
}



