.btn {
    // display: flex;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
    display: inline-block;
    padding: 12px 30px;
    padding: 12px 30px 12px 30px;
    font-family: $font-poppins-semi-bold;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    border-radius: 4px;
    cursor: pointer;
}

// remplissage
.btn--primary {
    color: $white;
    background-color: $accent;
}

.btn--secondary {
    color: $accent;
    background-color: $white;
}

.btn--plain {
    color: $white;
    background-color: $primary-blue;
}

.btn--line {
    color: $primary-blue;
    border: 1px solid;
    border-color: $primary-blue;
    background-color: $primary-white;
}

.btn--center {
   display: block;
   margin: 20px auto 0px auto;
}

.btn--inline {
    display: inline-block;
}

// largeur
.btn--lg {
    width: 100%;
}

.btn--fluid {
    width: 100%;
}