
$white: #fff;
$blue: #3C64B1;
$black-light: #373F41;
$gray-light: #737B7D;

$primary-white: #fff;
$primary-blue: #3C64B1;



// $bg-primary-blue-opacity: rgba(60, 100, 177, 0.06);
$bg-primary-blue-opacity: #f3f6fb;


// ---------------------------
// ---------------------------

$main: #7F1F23;
$accent: #FC3640;
$text: #161616;
$primary: #1F2831;
$secondary: #7C7C7C;
$tertiary: #C6C6C6;
$white: #FFFFFF;
$bg-light: #FAFAFA;
$footer: #5C6D7E;
$icon: #F4F4F4;
$accent-5: rgba(252, 54, 64, 0.1);


// -----
$bg-main: #7F1F23;

