
$white: #fff;
$blue: #3C64B1;
$black-light: #373F41;
$gray-light: #737B7D;

$primary-white: #fff;
$primary-blue: #3C64B1;



// $bg-primary-blue-opacity: rgba(60, 100, 177, 0.06);
$bg-primary-blue-opacity: #f3f6fb;