$main: #7F1F23;
$accent: #FC3640;
$text: #161616;
$primary: #1F2831;
$secondary: #7C7C7C;
$tertiary: #C6C6C6;
$quaternary: #FFFFFF;
$bg-light: #FAFAFA;
$footer: #5C6D7E;
$icon: #F4F4F4;
$accent-5: rgba(252, 54, 64, 0.1);

