.print-file {

    @include lg-only{
    // overflow-y: scroll;

    &__wrapper {
        display: flex;
        // height: calc(100vh - $height-nav-lg);
        height: calc(100vh - 88px);
        }

    }
}

.article---resume {
    display: none;
}

.model__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.print-shopbar {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 35px;
    background: #fff;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);

    &__action {
        margin-left: 15px;
    }

    &__quantity {
        margin-left: 35px;

        &__label {
            display: inline-block;
            margin-right: 10px;
        }

        &__input {
            max-width: 40px;
            border: none;
        }
    }

    &__price {
        margin-left: 35px;
    }

    @include lg-only{
        position: fixed;
        left: 500px;
        right: 0px;
        bottom: 0px;
        height: 65px;
        box-shadow: -4px -4px 10px rgba(0, 0, 0, 0.08);

        &__action {
            margin-left: 15px;
        }
    
        &__quantity {
            margin-left: 55px;
        }
    
        &__price {
            margin-left: 55px;
        }
    }
}


.print-viewer__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    // min-height: 300px;
    height: 100%;
    min-width: 500px;
    max-width: 500px;
    background-color: $bg-primary-blue-opacity;
}

// --------------
// ----- Accordion item
// --------------
.accord-item{
    // grid-column: 2;
    padding: 10px 25px;
    border-bottom: 1px solid #e5e5e5;
    border-color: #e5e5e5;

    &-heading {
        display: grid;
        // grid-template-columns: 60px 1fr 60px;
        grid-template-columns: 60px 1fr 60px;
        cursor: pointer;

        &__icon {
            grid-column: 1;
            grid-row: 1;
            align-self: center;
        }

        &__title {
            grid-column: 2;
            grid-row: 1;
            margin: 10px 0px;
            text-align: left;
            color: #3C64B1;
        }

        &__arrow {
            grid-column: 3;
            grid-row: 1;
            justify-self: flex-end;
            align-self: center;
        }

        
    }

    &-content {
        padding: 0 60px;
        overflow-y: hidden;
        max-height: 0px;
        // transition: 0.5s;
    }

    // -------------
    &--active {
        .accord-item-content {
            max-height: 500px;
            height: auto;
            transition: max-height 1.5s;
        }
    }

    &-content {
        padding: 0 60px;

        &__upload {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 178px;
            background-color: $bg-primary-blue-opacity;
        }
    }
}


        
