.wrapper__projet {
    width: 100vw;
    height: calc(100vh - 88px);
    background-color: $bg-primary-blue-opacity;
}

.projet-progress {
    &__bar {
        height: 2px;
        width: 25%;
        background-color: $primary-blue;
    }
}

.contain-projet {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-primary-blue-opacity;
}